/.idea/
/target/classes/exalt/kata/application/contracts/publicCommands/AddressDTO.class
/target/classes/exalt/kata/application/contracts/publicCommands/CreateClientCommandRequest.class
/target/classes/exalt/kata/application/contracts/publicCommands/CreateClientCommandResponse.class
/target/classes/exalt/kata/application/contracts/PublicErrorMessages.class
/target/classes/exalt/kata/application/implementations/CreateClientCommandHandler.class
/target/classes/exalt/kata/application/primitives/IPublicCommandHandler.class
/target/classes/exalt/kata/application/primitives/IPublicCommandRequest.class
/target/classes/exalt/kata/application/primitives/IPublicCommandResponse.class
/target/classes/exalt/kata/application/primitives/IPublicQueryHandler.class
/target/classes/exalt/kata/application/primitives/IPublicQueryRequest.class
/target/classes/exalt/kata/application/primitives/IPublicQueryResponse.class
/target/classes/exalt/kata/domain/accounting/AccountingTransactionAggregate.class
/target/classes/exalt/kata/domain/accounting/AccountingTransactionExternalId.class
/target/classes/exalt/kata/domain/accounting/AccountingTransactionId.class
/target/classes/exalt/kata/domain/accounting/TransactionStatus.class
/target/classes/exalt/kata/domain/accounting/TransactionType.class
/target/classes/exalt/kata/domain/bankAccount/BankAccountAggregate.class
/target/classes/exalt/kata/domain/bankAccount/BankAccountExternalId.class
/target/classes/exalt/kata/domain/bankAccount/BankAccountId.class
/target/classes/exalt/kata/domain/bankAccount/BankAccountStatus.class
/target/classes/exalt/kata/domain/client/ClientAggregate.class
/target/classes/exalt/kata/domain/client/ClientExternalId.class
/target/classes/exalt/kata/domain/client/ClientId.class
/target/classes/exalt/kata/domain/client/ClientStatus.class
/target/classes/exalt/kata/domain/core/primitives/AggregateRoot.class
/target/classes/exalt/kata/domain/core/primitives/Result.class
/target/classes/exalt/kata/domain/core/primitives/ResultBase.class
/target/classes/exalt/kata/domain/core/primitives/SimpleValueObject.class
/target/classes/exalt/kata/domain/Address.class
/target/classes/exalt/kata/domain/Amount.class
/target/classes/exalt/kata/domain/CountryCode.class
/target/classes/exalt/kata/domain/Currency.class
/target/classes/exalt/kata/domain/OperationResult.class
/target/classes/exalt/kata/domain/Tag.class
/target/classes/exalt/kata/infrastructure/persistence/implementations/database/client/ClientAggregateRootRepository.class
/target/classes/exalt/kata/infrastructure/primitives/persistence/IAggregateRootRepository.class
/target/classes/exalt/kata/ApplicationConfiguration.class
/target/classes/exalt/kata/BankAccountApplication.class
/target/classes/application.properties
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/test-classes/exalt/kata/acceptance/createClient/AcceptanceTestBase.class
/target/test-classes/exalt/kata/acceptance/createClient/CreateClientCommandHandlerTest.class
/target/test-classes/exalt/kata/acceptance/createClient/CreateClientCommandRequestBuilder.class
/target/test-classes/exalt/kata/BankAccountApplicationTests.class
/HELP.md
/target/classes/exalt/kata/application/contracts/publicCommands/request/CreateBankAccountRequest.class
/target/classes/exalt/kata/application/contracts/publicCommands/response/CreateBankAccountResponse.class
/target/classes/exalt/kata/application/implementations/CreateBankAccountCommandHandler.class
/target/classes/exalt/kata/infrastructure/persistence/implementations/database/bankAccount/BankAccountAggregateRootRepository.class
/target/test-classes/exalt/kata/acceptance/bankAccount/CreateBankAccountCommandHandlerTest.class
/target/test-classes/exalt/kata/acceptance/bankAccount/CreateBankAccountRequestBuilder.class
/target/classes/exalt/kata/domain/core/Action.class
/target/classes/exalt/kata/infrastructure/persistence/contracts/IRepositoryTransactor.class
/target/classes/exalt/kata/infrastructure/persistence/implementations/RepositoryTransactor.class
/target/classes/exalt/kata/infrastructure/persistence/implementations/UnitOfWork.class
/target/classes/exalt/kata/infrastructure/primitives/persistence/IUnitOfWork.class
